*.bak
*.o
*.user.*
*.user
ui_qdlg*.h
.qmake.stash
Makefile
Makefile.Debug
Makefile.Release
libsimExtIK.1.0.0.dylib
libsimExtIK.1.0.dylib
libsimExtIK.1.dylib
libsimExtIK.dylib
libsimExtIK.so
libsimExtIK.so.1
libsimExtIK.so.1.0
libsimExtIK.so.1.0.0
debug
release
object_script.*.Debug
object_script.*.Release
