*.bak
*.o
*.user.*
*.user
ui_qdlg*.h
.qmake.stash
Makefile
Makefile.Debug
Makefile.Release
libsimIK.1.0.0.dylib
libsimIK.1.0.dylib
libsimIK.1.dylib
libsimIK.dylib
libsimIK.so
libsimIK.so.1
libsimIK.so.1.0
libsimIK.so.1.0.0
debug
release
object_script.*.Debug
object_script.*.Release
